@tailwind base;
@tailwind components;
@tailwind utilities;


.cartContent:hover .img::after,
.cartContent:hover .remove {
  opacity: 1;
  cursor: pointer;
}

.cartContent .details .minus:hover,
.cartContent .details .plus:hover {
  background-color: rgba(255, 255, 255, 0.2);
}